<div *ngIf="title && title.length > 0" mat-dialog-title>{{ title | oTranslate }}</div>
<div mat-dialog-content>
  <div fxLayout="row" class="alert-content" [class.alert-content-icon]="useIcon" fxLayoutAlign="space-between center">
    <mat-icon *ngIf="useIcon" class="alert-icon" [class.info]="isInfo" [class.warn]="isWarn" [class.error]="isError">
      {{ icon }}
    </mat-icon>
    <span [innerHTML]="message | oTranslate"></span>
  </div>
</div>
<mat-dialog-actions align="end">
  <span fxFlex></span>
  <span o-button [type]="getTypeButton()" *ngIf="twoOptions" css-class="mat-primary" mat-dialog-close
    [label]="cancelButtonText | oTranslate | uppercase"></span>
  <span o-button css-class="mat-primary" [type]="getTypeButton()" (click)="onOkClick($event)"
    [label]="okButtonText | oTranslate | uppercase"></span>
</mat-dialog-actions>