<mat-toolbar class="o-form-toolbar-header" [class.breadcrumb]="includeBreadcrumb" fxLayout="column"
  fxLayoutAlign="center center">

  <ng-template *ngIf="includeBreadcrumb" #breadcrumb></ng-template>

  <div class="mat-toolbar-tools" fxLayout="row" fxLayoutAlign="space-between center">
    <button type="button" mat-icon-button (click)="onCloseDetail()" *ngIf="isDetail"
      class="o-form-toolbar-button o-form-toolbar-back">
      <mat-icon svgIcon="ontimize:arrow_back"></mat-icon>
    </button>

    <o-form-navigation #formNavigation *ngIf="showNavigation" fxLayout="row" fxLayoutAlign="space-between center">
    </o-form-navigation>

    <span *ngIf="getLabelHeaderAlign() === 'center' || getLabelHeaderAlign() === 'end'" class="fill-remaining"></span>

    <div *ngIf="labelHeader!=''" fxLayout="row" fxLayoutAlign="center center">
      <span>{{ labelHeader | oTranslate }}</span>
    </div>
    <span *ngIf="getLabelHeaderAlign() === 'start' || getLabelHeaderAlign() === 'center'" class="fill-remaining"></span>

    <ng-content select="[o-custom-form-toolbar-buttons-wrapper]"></ng-content>

    <ng-template [ngIf]="showHeaderActionsText" [ngIfElse]="undoBtnWithoutText">
      <span o-button [type]="getButtonType()" label="UNDO" svg-icon="ontimize:undo"
        css-class="o-form-toolbar-button o-form-toolbar-button-undo" (click)="onUndoLastChange()"
        [disabled]="isChangesStackEmpty" *ngIf="showUndoButton">
      </span>
    </ng-template>

    <ng-template #undoBtnWithoutText>
      <button type="button" class="o-form-toolbar-button o-form-toolbar-button-undo" mat-icon-button
        (click)="onUndoLastChange()" [disabled]="isChangesStackEmpty" *ngIf="showUndoButton">
        <mat-icon svgIcon="ontimize:undo"></mat-icon>
      </button>
    </ng-template>

    <ng-container *ngIf="initialMode">
      <ng-template [ngIf]="showHeaderActionsText" [ngIfElse]="buttonsWithouText">
        <span o-button [type]="getButtonType()" label="REFRESH" svg-icon="ontimize:autorenew"
          css-class='o-form-toolbar-button o-form-toolbar-button-refresh' (click)="onReload($event)"
          *ngIf="isRefreshBtnEnabled" attr="refresh">
        </span>

        <span o-button [type]="getButtonType()" label="ADD" svg-icon="ontimize:add"
          css-class="o-form-toolbar-button o-form-toolbar-button-insert" (click)="onInsert($event)"
          *ngIf="isInsertBtnEnabled" attr="insert">
        </span>

        <span o-button [type]="getButtonType()" label="EDIT" svg-icon="ontimize:edit"
          css-class='o-form-toolbar-button o-form-toolbar-button-insert' (click)="onEdit($event)"
          *ngIf="isEditBtnEnabled | async" attr="edit">

        </span>

        <span o-button [type]="getButtonType()" css-class="o-form-toolbar-button o-form-toolbar-button-edit"
          (click)="onDelete($event)" *ngIf="isDeleteBtnEnabled" attr="delete" label="DELETE" svg-icon="ontimize:delete">
        </span>

        <span o-button [type]="getButtonType()" css-class="o-form-toolbar-button o-form-toolbar-button-save"
          (click)="onSave($event)" [disabled]="!(existsChangesToSave | async)" *ngIf="isSaveBtnEnabled | async"
          attr="update" label="SAVE" svg-icon="ontimize:delete">
        </span>

      </ng-template>
      <ng-template #buttonsWithouText>
        <button type="button" class="o-form-toolbar-button o-form-toolbar-button-refresh" mat-icon-button
          (click)="onReload($event)" *ngIf="isRefreshBtnEnabled" attr="refresh">
          <mat-icon svgIcon="ontimize:autorenew"></mat-icon>
        </button>
        <button type="button" class="o-form-toolbar-button o-form-toolbar-button-insert" mat-icon-button
          (click)="onInsert($event)" *ngIf="isInsertBtnEnabled" attr="insert">
          <mat-icon svgIcon="ontimize:add"></mat-icon>
        </button>
        <button type="button" class="o-form-toolbar-button-o-form-toolbar-button-edit" mat-icon-button
          (click)="onEdit($event)" *ngIf="isEditBtnEnabled | async" attr="edit">
          <mat-icon svgIcon="ontimize:edit"></mat-icon>
        </button>
        <button type="button" class="o-form-toolbar-button o-form-toolbar-button-delete" mat-icon-button
          (click)="onDelete($event)" *ngIf="isDeleteBtnEnabled" attr="delete">
          <mat-icon svgIcon="ontimize:delete"></mat-icon>
        </button>
        <button type="button" class="o-form-toolbar-button o-form-toolbar-button-save" mat-icon-button
          (click)="onSave($event)" [disabled]="!existsChangesToSave" *ngIf="isSaveBtnEnabled | async" attr="update">
          <mat-icon svgIcon="ontimize:save"></mat-icon>
        </button>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="editMode || insertMode">

      <span o-button [type]="getButtonType()" css-class="o-form-toolbar-button o-form-toolbar-button-cancel"
        (click)="cancelOperation($event)" [label]="showHeaderActionsText?'CANCEL':''" svg-icon="ontimize:clear">
      </span>

      <span o-button [type]="getButtonType()" css-class="o-form-toolbar-button o-form-toolbar-button-insert"
        (click)="acceptOperation($event)" [label]="showHeaderActionsText?'INSERT':''" svg-icon="ontimize:done">
      </span>

    </ng-container>
  </div>

</mat-toolbar>